@import url(https://fonts.googleapis.com/css?family=Roboto:100);
* {
  box-sizing: border-box;
}

@keyframes button_hover {
  from {
    background-color: #FFFFFF;
    color: black;
  }
  35% {
    background-color: #fce5ad;
    color: gray;
  }
  to {
    background-color: #fed057;
    color: white;
  }
}


html, body {
  height: 100%;
}

body {
  /* background-color: rgb(134, 99, 230); */
  margin: 0px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

#bodymovin {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 1;
}

#close {
  -webkit-transition: opacity 0.4s ease 0.1s, color 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.4s ease 0.1s, color 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.4s ease 0.1s, color 0.2s, transform 0.2s;
  transition: opacity 0.4s ease 0.1s, color 0.2s, transform 0.2s, -webkit-transform 0.2s;
  opacity: 0;
  border: none;
  background: none;
  position: fixed;
  top: 1em;
  right: 1em;
  font-size: 2em;
  padding: 1em;
  cursor: pointer;
  z-index: 1;
}

.open #close {
  opacity: 1;
}

#close:focus {
  outline: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.modal__content {
  opacity: 0;
  -webkit-transform: scale(0.8) translate3D(0, -20px, 0);
          transform: scale(0.8) translate3D(0, -20px, 0);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.8s cubic-bezier(0.09, 0.52, 0.25, 1);
  transition: opacity 0.2s, -webkit-transform 0.8s cubic-bezier(0.09, 0.52, 0.25, 1);
  transition: opacity 0.2s, transform 0.8s cubic-bezier(0.09, 0.52, 0.25, 1);
  transition: opacity 0.2s, transform 0.8s cubic-bezier(0.09, 0.52, 0.25, 1), -webkit-transform 0.8s cubic-bezier(0.09, 0.52, 0.25, 1);
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 1em;
}
.modal h1 {
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
.modal p {
  max-width: 25em;
  line-height: 1.9;
}

.open .modal__content {
  opacity: 1;
  -webkit-transform: scale(1) translate3D(0, 0, 0);
          transform: scale(1) translate3D(0, 0, 0);
}
#menu {
	height: 100%;
	position: fixed;
	background-color: #fed057;
	width: 300px;
	transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
	transform: translateX(-100%);
	left: 60px;
}
#menu.expanded {
	transform: translateX(0%);
	left: 0px;
}
.menu-inner {
	width: 100%;
	height: 100%;
	position: relative;
}
#blob {
	top: 0;
	z-index: -1;
	right: 60px;
	transform: translateX(100%);
	height: 100%;
	position: absolute;
}
#blob-path {
	height: 100%;
	fill: #fed057;
}
.hamburger {
	right: 20px;
	position: absolute;
	width: 20px;
	height: 20px;
	margin-top: -10px;
}
.hamburger .line {
	width: 100%;
	height: 4px;
	background-color: #fff;
	position: absolute;
}
.hamburger .line:nth-child(2) {
	top: 50%;
	margin-top: -2px;
}
.hamburger .line:nth-child(3) {
	bottom: 0;
}

ul {
	padding: 0;
	list-style: none;
	width: 80%;
	margin-left: 10%;
	position: absolute;
	top: 10px;
}
ul li {
	color: #fff;
	font-family: sans-serif;
	padding: 20px 0;
}
h2 {
	position: absolute;
	left: 50%;
	color: #fff;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 100;
}

/* my code */
/* header,
footer,
aside,
main{
    border: 1px dashed black;
}

div, p {
    border: black 1px dashed;
} */

aside {
  width: 3%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -3%;
  /* background-color: #fed057; пока неактивный правый сайдбар*/
}

.middle_screen{
  position: absolute;
  width: 94%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 3%;
  /* color: white; */
}

header {
  height: 15%;
  width: 100%;
  display: flex;
}

main {
  width: 100%;
  height: 85%;
  display: flex;
}

.info_left {
  width: 50%;
  height: 100%;
  /* то что ниже удалить */
  font-weight: 100;
  font-size: 80px;
  padding: 70px;
}

.info_right {
  width: 50%;
  height: 100%;
}

.swiper-container{
  height: 100%;
  z-index: -1;
}

.swiper-wrapper{
  height: 100%;
}

.logo {
  margin: 0 auto 0 auto;
}

.image_logo { 
  /* margin-top: -130px; это вариант для предыдущего логотипа! */
  /* height: 400px; */
  height: 200px;
  margin-top: -10px;
}

.paper_drink_info {
  width: 80%;
  height: 90%;
  margin: 5% auto auto auto;
  /* border: 2px solid white; */
  border: 3px solid #fed057;
  border-radius: 5%;
}

.paper_drink_info div {
  width: 100%;
  height: 20%;
  display: flex;
}

.name_drink {
  font-size: 60px;
  font-weight: 1000;
}

.name_drink p {
  text-align: center;
  margin-top: 5%;
  width: 100%;
}

.paper_drink_info div div{
  height: 100%;
  width: 48%;
  display: flex;
  font-size: 40px;
  font-weight: 500;
}

.paper_drink_info div div p{
  text-align: center;
  width: 100%;
}

.paper_drink_info  div div div{
  width: 20%;
}

.paper_drink_info div div div img{
  margin-top: 45%;
  margin-left: 8%;
  height: 40%;
}

.find_drink{
  justify-content: center;
}

.find_drink button{
  background: none;
  border: 3px solid #fed057;
  width: 40%;
  height: 50%;
  border-radius: 5px;
  /* background-color: rgb(134, 99, 230); */
  /* color: white; */
  font-size: 20px;
  font-weight: 700;
}

.find_drink button:hover{
  animation: button_hover 0.15s;
  animation-fill-mode: forwards;
  transition-timing-function: linear;
  cursor: pointer;
}